@using Microsoft.Extensions.Configuration;
@using Microsoft.AspNetCore.Http
@inject IConfiguration Configuration;

@{
    ViewBag.Title = "Video Category";
    string apiUrl = Configuration.GetValue<string>("WebAPIBaseUrl");
}

<div class="row float-right">
    <button type="button" onclick="showAddBtn()" data-toggle="modal" data-target="#subjectModel" class="btn btn-primary mb-1 mr-3">Add New</button>
</div>
<div class="table-responsive">
    <table id="subjectTable" class="table table-striped table-bordered table-hover table-full-width">
        <thead>
            <tr>
                <th>Name</th>
               
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

<div id="subjectModel" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">     
                <form action="#" role="form" class="validate" id="formPost">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="control-label">Subject Name<i class="fas fa-exclamation-triangle text-danger fa-sm"></i></label>
                                        <input type="text" class="form-control" autocomplete="off" id="academicyear" required />
                                    </div>
                                </div>
                                
                            </div>
                           
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="button" id="btnSave" class="btn btn-primary" style="display:none">Save</button>
                                    <button type="button" id="btnUpdate" class="btn btn-primary" style="display:none">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
             </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        var AcademyYearIdForUpdate;

        $(function () {
            loadAcademyYears();

            $('#subjectTable tbody').on('click', 'button[data-target="#subjectModel"]', function () {
                var id = $(this).data('id');
                //alert(id);
                loadSingleRole(id);
                $('#btnUpdate').show();
                $('#btnSave').hide();
                AcademyYearIdForUpdate = id;
            });

            $('#subjectTable tbody').on('click', 'button[data-target="#delete"]', function () {
                var id = $(this).data('id');

                swal({
                    html: true,
                    title: "Are you sure?",
                    text: "You will not be able to recover this data!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, confirm it!",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({
                        type: "GET",
                        url: "@apiUrl/api/VideoCategories/DeleteVideoCategory/" + id,
                        contentType: "application/json; charset=utf-8",
                        headers: {
                            "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                        },
                        dataType: "json",
                        success: function (data, statusText, xhr) {
                            if (xhr.status == 200) {
                                $('#subjectTable').DataTable().ajax.reload(null, false);
                                sweetAlert({
                                    html: true,
                                    title: "Video Category",
                                    text: "Successfully deleted!",
                                    type: "success"
                                });
                            }else if (xhr.status == 202) {
                                sweetAlert("Validation Alert!", data.responseMsg, "warning");
                            } else {
                                sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                            }
                        },
                        error: function (data) {
                            if (data.status == 401) {
                                window.location.replace('/Message/TokenExpire');
                            } else if (data.status == 403) {
                                window.location.replace('/Message/Unauthorize');
                            }
                        }
                    });
                });
            });

            $("#btnSave").click(function (e) {
                if (!document.getElementById("formPost").checkValidity()) {
                    e.preventDefault();                   
                } else {
                        var model = {
                        videoCategoryName: $.trim($("#academicyear").val()),
                           // roleDesc: $.trim($("#description").val()),
                            //menuGroupId: parseInt($("#menuGrp").val()),
                            isActive: 1,
                            //addedBy:Context.Session.GetInt32("UserId"),                          
                        }
                    console.log(model);

                $.ajax({
                    type: "POST",
                        url: "@apiUrl/api/VideoCategories/PostVideoCategory",
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    headers: {
                            "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    dataType: "json",
                    success: function (data, statusText, xhr) {
                        if (xhr.status === 200) {
                            $('#subjectTable').DataTable().ajax.reload(null, false);
                            sweetAlert({
                                html: true,
                                title: "Video Category",
                                text: "Successfully created!",
                                type: "success"
                                });
                        } else if (data.status === "duplicate") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        } else if (data.status === "error") {
                            sweetAlert("Validation Alert!", data.responseMsg, "warning");
                        }else {
                                sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                            }
                    },
                    error: function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        } else if (data.status == 400) {
                            sweetAlert("Validation Alert!", "Please check input data!", "warning");
                        }
                    }
                    });
                }
            });

            $("#btnUpdate").click(function (e) {
                if (!document.getElementById("formPost").checkValidity()) {
                    e.preventDefault();
                } else {
                        var model = {
                        videoCategoryId: AcademyYearIdForUpdate,
                        videoCategoryName: $.trim($("#academicyear").val()),
                       // roleDesc: $.trim($("#description").val()),
                        lastUpdatedBy:@Context.Session.GetInt32("UserId")                       
                        //menuGroupId: parseInt($("#menuGrp").val())
                    }
                    $.ajax({
                        type: "POST",
                        url: "@apiUrl/api/VideoCategories/PutVideoCategory",
                        data: JSON.stringify(model),
                        contentType: "application/json; charset=utf-8",
                        headers: {
                            "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                        },
                        dataType: "json",
                        success: function (data, statusText, xhr) {
                            //console.log(xhr.status);
                            //console.log(statusText);
                            if (xhr.status==200) {
                                $('#subjectTable').DataTable().ajax.reload(null, false);
                                    sweetAlert({
                                        html: true,
                                        title: "Video Category",
                                        text: "Successfully updated!",
                                        type: "success"
                                    });
                            } else if (xhr.status == 202) {
                                sweetAlert("Validation Alert!", data.responseMsg, "warning");
                            } else {
                                sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                            }
                        },
                        error: function (data) {
                            if (data.status == 401) {
                                window.location.replace('/Message/TokenExpire');
                            } else if (data.status == 403) {
                                window.location.replace('/Message/Unauthorize');
                            } else if (data.status == 400) {
                                sweetAlert("Validation Alert!", "Please check input data!", "warning");
                            }
                        }
                    });
                }
            });

        });

        function loadSingleRole(id) {
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/VideoCategories/GetVideoCategory/" + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: {
                    "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                success: function (data, statusText, xhr) {
                    console.log(xhr.status);
                    if (xhr.status == 200) {
                        $('#academicyear').val(data.videoCategoryName);
                        $('#description').val(data.roleDesc);
                        menuGroupList(data.menuGroupId);
                    }
                    else {
                        sweetAlert("Validation Alert!", "Something unexpected!", "warning");
                    }
                },
                error: function (data) {
                    console.log(data.status);
                    if (data.status == 401) {
                        console.log('un-authorized/token expired');
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        console.log('forbidden/no permission');
                        window.location.replace('/Message/Unauthorize');
                    }

                }
            });
        }

        function loadAcademyYears() {
            var table = $('#subjectTable').DataTable();
            table.destroy();

            table = $('#subjectTable').dataTable({
                "paginationType": "full_numbers",
                "dom": 'Bfrtip',
                "buttons": ['copy', 'csv', 'excel', 'pdf', 'print'],
                "searching": false,
                "paging": true,
                "sort": true,
                "info": true,
                "ajax": {
                    "url": '@apiUrl/api/VideoCategories/GetVideoCategories',
                    "type": "GET",
                    "dataType": "json",
                    "headers": {
                        "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                    },
                    "error": function (data) {
                        if (data.status == 401) {
                            window.location.replace('/Message/TokenExpire');
                        } else if (data.status == 403) {
                            window.location.replace('/Message/Unauthorize');
                        }
                    }
                },
                "order": [],
                "columns": [
                    { "data": "videoCategoryName", "orderable": true },
                   // { "data": "academyYearId", "orderable": true },
                  //  { "data": "menuGroupName", "orderable": true },
                    {
                        "orderable": false,
                        "class": "action_button",
                        "render": function (data, type, row) {
                            var id = row.videoCategoryId;
                            var actionButtonsHtml = "";
                            actionButtonsHtml += generateActionButtonForList(id, 'subjectModel');
                            return actionButtonsHtml;
                        }
                    }
                ]
            });
        }

        function menuGroupList(id) {
            var opt = '';
            $.ajax({
                type: "GET",
                url: "@apiUrl/api/Menu/GetMenuGroupList",
                contentType: "application/json; charset=utf-8",
                headers: {
                   "authorization": "Bearer @Context.Session.GetString("TokenTxt")"
                },
                dataType: "json",
                success: function (res) {

                    var options = [];
                    options.push('<option value="">Select MenuGroup</option>');
                    for (var i = 0; i < res.data.length; i++) {
                        if (id == res.data[i].menuGroupID) {
                            opt = 'selected'
                        } else {
                            opt = '';
                        }
                        options.push('<option value="' + res.data[i].menuGroupID + '" ' + opt + '>' + res.data[i].menuGroupName+ '</option>');
                    }
                    $("#menuGrp").html(options.join(''));
                },
                error: function (data) {
                    if (data.status == 401) {
                        window.location.replace('/Message/TokenExpire');
                    } else if (data.status == 403) {
                        window.location.replace('/Message/Unauthorize');
                    }
                }
            });
        }

        function showAddBtn() {
            menuGroupList('');
            $('#btnSave').show();
            $('#btnUpdate').hide();
            resetInput('#subjectModel');
        }
    </script>
}